/* styles.css */
:root {
	--whitecolor: #ffffff;
	--mainColor:  #E1A308;
  --youngMainColor:#e9bf55;
	--secondaryColor: #6286A0;

  --youngsecondaryColor:#4b7593 ;
	--textColor: #000000;
}


.sidebar {
    width: 250px; /* Adjust as needed */
    height: 100%; /* This ensures it takes full height of the viewport */
    background-color: var(--secondaryColor); /* Example background color */
    color:var(--whitecolor); /* Example text color */
    position: fixed; /* Fixed positioning so it stays in place while scrolling */
    top: 0;
    left: 0;
   display: flex;
   justify-content: center;
   padding-top: 4rem;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    color: var(--mainColorLight); /* Example hover color */
    background-color:var(--youngMainColor) ;
 
  }
  .sidebar ul li.selected {
    color: var(--mainColorLight); /* Example hover color */
    background-color:var(--mainColor) ;
  }
  .pagestyle {
    background-color: #f7f7f7; /* Change to your preferred shade of grey */
   height: 100vh;
  }

  .character-bg{
   
    
    padding-top: 30px;
    padding-left: 110px;
   

  }
 
  .character-bg {
    display: flex; /* Use flexbox layout */
  }
  
  .horizontal-scroll {
    flex-direction: row; /* Horizontal direction */
     /* Prevent wrapping */
  }
  
  /* Optionally, add styles to individual character components if needed */
  .character {
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    margin-right: 10px; /* Add spacing between characters */
  }
  
  .conversation-display-card {
    margin-left: 210px;
    width: 800px;
   
    margin-top: 40px;
    border: none;
    
    border-radius: 12px;
    
  }
  .history-display-card {
    margin-left: 355px;
    width: 500px;
   
    margin-top: 40px;
    border: none;
    
    border-radius: 12px;
    
  }
  .character-container {
    overflow-x: auto;
     /* Enable horizontal scrolling */
    
  }
  

.alert-container {
  position: fixed;
  top: 50%;
  left: 59%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure alert box is above overlay */
}

.alert-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styles.css */
.place-card {
  width: 18rem;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.place-card:hover {
  transform: scale(1.1);
}
.normal-btn{
  border-radius: 20px;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  color: var(--whitecolor);
  padding: 5px 0;
}
.normal-btn:hover{
  background-color: var(--youngMainColor);
  border: 2px solid var(--youngMainColor);
}
.second-btn{
  border-radius: 20px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  color: var(--whitecolor);
  padding: 5px 0;
}
.second-btn:hover{
  background-color: var(--mainColor);
  border: 2px solid var(--youngMainColor);
}
.second-btn-variant1{
  border-radius: 20px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  color: var(--whitecolor);
  padding: 5px 0;
}
.second-btn-variant1:hover{
  background-color: var(--youngsecondaryColor);
  border: 2px solid var(--youngsecondaryColor);
}
.feedback-display-card {
  background-color: var(--youngsecondaryColor) !important;
  color: var(--whitecolor) !important;
  border-radius: 25px !important;
}
.danger-btn{
  border-radius: 20px;
  background-color: rgb(167, 27, 27);
  border: 2px solid rgb(167, 27, 27) ;
  color: #ffffff;
}
.danger-btn:hover{
  background-color: rgb(217, 37, 37);
  border: 2px solid rgb(217, 37, 37) ;
}