

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.form-Card {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-top: 20px;
  background: linear-gradient(177.24deg, #E1A308 17.28%, rgba(225, 163, 8, 0) 79.09%);

}
:root {
	--whitecolor: #ffffff;
	--mainColor:  #E1A308;
  --youngMainColor:#e9bf55;
	--secondaryColor: #6286A0;

  
	--textColor: #000000;
}




  .login-form {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  #btn-submit{
    background-color: var(--mainColor);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    width: 100%;
  }
  
  #btn-submit:hover {
    background-color:var(--youngMainColor);
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }
 
  .login-container {
    width: 350px;
    height: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Apply shadow */
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  


.login-form {
    width: 300px; 
    padding: 20px;
    border: none;
    box-shadow: none;
   
    
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #2c3d49;
}

.forgot-password a:hover {
  text-decoration:none;
  color: var(--mainColor);
}

  
  .login-text{
    text-align: center;
  }
  .login-text a{
    text-decoration: none;
    color: var(--secondaryColor);
  }
  .login-text a:hover{
    text-decoration: none;
    color: var(--textColor);
  }
  @media  screen and (max-width:912px) {
    .login-image {
        display: none;
    }
}
.backTo-login{
  
    text-align: center;
   
}
.backLogin-link{
  text-decoration: none;
  color: var(--textColor);

}
.backLogin-link:hover{
  text-decoration: none;
  color:var(--mainColor)

}
.error-message{
  color: red;
  padding-left: 40px;
}
/* Login.css */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 32px; /* Add border radius */
  margin-top: 5px;
 
}

/* Add more styles as needed */
